.mainDiv{
    display: flex;
   width: 95vw;
   margin: auto;
}
.firstSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px 0px 20px;
    height: 100vh;
    width: 250px;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 20px 0 0 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}  
  .navLink {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 6px;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .navLink:hover {
    color: #007bff; /* Blue on hover */
    background-color: #e9ecef;
  }
  
  .activeLink {
    color: white !important;
    background-color: #007bff !important; /* Highlight active link */
    font-weight: bold;
  }
  