.main{
   width: 95vw;
    min-height: 900px;
    margin: auto;
    background:linear-gradient(rgba(24, 24, 24, 0.616), rgba(24, 24, 24, 0.145)),  url(https://images.pexels.com/photos/4325446/pexels-photo-4325446.jpeg);
    background-size: cover;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
   padding: 15% 0 0 5%;
    
    color: white;
}
.main>h1{
    letter-spacing: 0.2rem;
    font-size: 4rem;
    color: rgb(255, 143, 143);
    
}
.firstpara{
    width: 50%;
    font-family: "Dancing Script", cursive;
    line-height: 2.2rem;
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 20px;
    letter-spacing: 0.1rem;
}
.secondpara{
    font-family: "Dancing Script", cursive;
    padding-top: 2rem;
    font-size: 1.2rem;
}
.button{
    margin-top: 20px;
    width: fit-content;
    padding: 7px;
    border: 2px solid rgb(6, 6, 6);
    border-radius: 5px;
    background-color: rgb(71, 71, 152);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
  
    text-decoration: none;
}
.button:hover{
    font-size: 1.2rem;background-color: rgb(96, 96, 96);
}
